<h1>New account</h1>

<p class="notice">
  The user's other attributes will be automatically
  created the first time they log in. This form will
  merely grant them access to the system.
</p>

<%= render 'form' %>
