<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1><%= @recipient.displayName %></h1>
<p>
  You may delete this test email, please do not reply.
</p>
</body>
</html>