/* 
 * Design by David Bassett 2013 
 * updated 2014
 */

%colorized-name {
  border-bottom: 2px solid $schedule-regular;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


#calendar {
  
  #controls {
    margin-bottom: 2rem;
    div, h4 {
      display: inline-block;
    }

    #date{
      h4 {
        text-align: center;
        width: 14rem;
      }
    }

    #today{
      margin-right: 3rem;
    }

    #type {
      margin-right: 3rem;

      // force active appearance for links styled with buttonset
      .forced-active {
        @extend .ui-state-active;
        @include top-bottom-highlight($active-highlight);
      }
    }

    #students {
      position: relative;

      ul, li { @extend .ui-corner-all; }

      // the students toggle menu
      ul {
        position: absolute;
        width: 140px;
        z-index: 9999;

        li {
          cursor: pointer;

          .name {
            @extend %colorized-name;
            @include fade-to-grey;
            width: 110px;
            line-height: 1.2rem;
          }

          // fix broken jQui menu elements
          &.ui-menu-item {
            background: none;
          }
          .icon {
            @extend .ui-icon, .ui-icon-check;
            position: static;
            display: inline-block;
            margin: 3px 5px;
            background-image: url(red-ui-icons.png);
          }
          &:hover .icon {
            background-image: url(jquery-ui/ui-icons_454545_256x240.png);
          }
          .hidden {
            visibility: hidden;
          }
        }
      }
    }
  }


  #display {
    .cal-day {
      position: relative;
    }

    // override default styles for specific calendar types
    &[data-type="day"] {
      .cal-day {
        width: 420px;
        margin: 0 auto;
      }
      .day-label {  }
      .schedule {
        .time {
          margin-right: 20px;
        }
        .v-div {
          margin: 0 20px 0 7px;
        }
      }
    }

    &[data-type="week"] {
      .cal-day {
        float: left;
        width: 140px;
      }
    }

    &[data-type="month"] {
      .weekday {
        float: left;
        width: 140px;
        text-align: center;
      }

      .cal-day {
        display: inline-block;
        vertical-align: top;
        width: 140px;
        min-height: 140px;
        margin-bottom: 10px;

        .day-label {
          text-align: left;
          margin: 5px;
        }
        .schedule {
          background-color: #eee;
          border: solid $schedule-regular;
          border-width: 0 0 2px 7px;
          border-radius: 20px;
          padding-left: 7px;
          margin: 3px;
          font-size: 15px;
          font-weight: bold;
        }
      }

      .not-month {
        background-color: #eee;
        * {
          opacity: 0.8;
        }
      }
    }

    .day-label { text-align: center; }

    .detailed-schedules {
      position: relative;
      height: 650px; //todo: replace fixed height a dynamic one, maybe need clearfix?

      // the sliding red marker for the current time
      .timeline {
        @include fade-hr;
        @include transition(top 1s ease-in-out);

        position: absolute;
        top: 0px;
        width: 96%;
        margin: 0;
        // don't interact with mouse
        pointer-events: none;
      }
    }

    // general schedule defaults
    .schedule {
      // JS switches to absolute positioning and changes
      //  the schedule offsets. If it fails then the schedules
      //  will still be visible with relative positioning
      position: relative;
      background: #eee;
      background:
        -webkit-linear-gradient( left,
                                 rgba(238,238,238,1) 0%,
                                 rgba(238,238,238,0.9) 20%,
                                 rgba(19,19,19,0.05) 100% );
      background:
        linear-gradient( to right,
                         rgba(238,238,238,1) 0%,
                         rgba(238,238,238,0.9) 20%,
                         rgba(19,19,19,0.05) 100% );
      border: 1px solid transparent;
      background-clip: padding-box; // fix border transparency
      border-radius: 2px;
      overflow: hidden;
      outline: none;
      cursor: pointer;

      @include hover-highlight( $schedule-regular );

      .name {
        @extend %colorized-name;
        padding-left: 2px;
      }

      .time {
        height: 20px;
        line-height: 20px;
        margin-right: 7px;
        // allows js to measure text width
        display: inline-block;
      }

      .v-div {
        height: 1rem;
        border-left: 1px solid #999;

        // buffer for js to place schedules
        width: 7px;
        margin: 0 7px;
      }

      // set schedule group colors
      .regular {
        //color: $schedule-regular;
        //& + .v-div { border-color: $schedule-regular; }
      }
      .temporary {
        color: $schedule-temporary;
        & + .v-div { border-color: $schedule-temporary; }
      }
      .absent {
        color: $schedule-absent;
        & + .v-div { border-color: $schedule-absent; }
      }
    }

    // bring selected schedules forward
    .schedule.selected {
      z-index: 99;
      box-shadow: 0 0 5px $secondary-blue;
      background: rgb(240, 240, 240);
    }

    // schedules with display toggled off
    .schedule.off {
      display: none;
    }
  }
}