/* 
 * Design by David Bassett 2013 
 * updated 2014
 */

// todo: don't know how many of these are needed
$time-increment:   5; //minutes
$px-per-hour:      48;
$increment-offset: 4; //4 pixels per 5 minute increment

$column-width: 140px;
$default-schedule-width: 130px;

#calendar {
  
  #controls {}

  .hourly-view {
    position: relative;
    height: 650px; //todo: replace fixed height a dynamic one, maybe need clearfix?

    .schedule {
      background-color: #eee;

      // JS switches to absolute positioning and changes
      //  the schedule offsets. If it fails then the schedules
      //  will still be visible with relative positioning
      position: relative;
      height: 150px;

      width: $default-schedule-width;
      overflow: hidden;
      border: 1px solid black;

      .name, .shift-begin, .shift-end {
        color: $schedule-regular;
      }

      .shift-begin,.shift-end {
        line-height: 20px;
      }

      .name {
        background-color: #eee;
        border-bottom: 2px solid $schedule-regular;
      }


      .b-line {
        position: relative;
        left: 10px;
        height: 30px;
        border-left: 1px solid $schedule-regular;
      }
    }
  }

  .cal-day {
    float: left;
    width: $column-width;
  }

  .cal-week {}
  .cal-month {}
}