/* 
 * Design by David Bassett 2013 
 * updated 2014
 */

$x-axis-margin:   120px;
$x-axis-padding:  15px;
$column-width:    120px;
$row-height:      2em;
$label-font-size: 1.7em;

#calendar {

  .cal-day {
    .schedule {
      // todo: probably need absolute positioning
      position: relative;
      border: 1px solid black;

      .name {
        background-color: ligthblue;
      }
      .shift-begin {}
      .shift-end {}
    }
  }
  .cal-week {}
  .cal-month {}
}