/* 
 * Design by David Bassett 2013 
 * updated 2014
 */

$x-axis-margin:   120px;
$x-axis-padding:  15px;
$column-width:    120px;
$row-height:      2em;
$label-font-size: 1.7em;

#calendar {

  .cal_day {}
  .cal_week {}
  .cal_month {}
}