// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin adjacent-fields {
  .field {
    width: 35%;
    display: inline-block;
  }
}

#schedule-form {

  label {
    //font-size: 18px;
  }

  // the children divs
  div {
    margin-bottom: 1em;
  }

  //start and end dates
  #date-fields {
    @include adjacent-fields;
  }

  #time-fields {
    @include adjacent-fields;
  }

  #description {
  }
}
