// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile-info {
  width: 43%;
  float: left;

  .links {

    a { margin-right: 5px; }
  }

  h2 {
    //clear: both;
  }

  p {
    padding-left: 10px;
    margin-bottom: 2px;
    background-color: #cfdfff;
    border-radius: 5px;
  }

  .student_color {
    @extend %buttonset-fix;
    position: relative;

    .control-label {
      height: 120px;
    }

    .ui-button {
      margin-bottom: 1rem;
    }
  }
}

// see schedules.css.scss for schedule accordion style
.student-schedules {
  float: right;
  width: 52%;
  margin-top: 30px;
}

// student and admin index table

$table-column-width: 180px;

#user-index-table {
  margin-top: 1.5em;

  #index-header {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;

    >span {
      display: inline-block;
      width: $table-column-width;
    }
  }

  .index-row {
    width: 68%;
    padding: 10px 0;
    border-bottom: 3px dotted #cfdfff;

    &:last-of-type {
      border: none;
    }

    >span {
      display: inline-block;
      width: $table-column-width;
      font-size: 1rem;
    }
  }

  .button {
    font-size: 0.8rem;
    margin-left: 1rem;
  }
}