// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.student-links {
  font-size: 14px;
  padding: 0.5em;
}

.profile-info {
  width: 50%;
  float: right;
  margin-top: 2.27em;

  p {
    margin-left: 2em;
    margin-bottom: 1em;
    padding: 0.5em 0 0.5em 0.5em;
    background-color: #cfdfff;
    border-radius: 5px;
  }
}

// in students#show
.schedule-accordion {
  margin-bottom: 3em;
  width: 50%;

  // all accordian rows
  .accordion-field {
    background-color: #eee;

    // the labels
    div div span {
      font-weight: bold;
    }

    // the schedule dates label ie MWF
    .schedule-effective-days {
      font-size: 20px;
      margin-bottom: 0.5em;
    }

    .schedule-times{
      float:left
    }

    .schedule-dates {
      float: right;
      margin-right: 2em;
    }

    .schedule-links {
      clear: both;
      float: right;
      margin-top: 1em;
    }
  }
}

// student and admin index table

$table-column-width: 140px;

#user-index-table {
  margin-top: 1.5em;

  #index-header {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
  }

  .index-row {
    padding-left: 5px;
    width: 59%;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .shaded {
    background-color: #cfdfff;
    border-radius: 10px;
  }

  div span {

    display: inline-block;
    width: $table-column-width;
    font-size: 1.2em;
  }

  div .links {
    width: auto;
    font-size: 14px;

    a {
      padding-right: 7px;

    }
  }
}

p.notice {
  width: 400px;
  color: #696969;
}

// on students#show and _schedule
.permanent-label {
  color: #7e94db;
  font-weight: bold;
}

.absent-label {
  color: #f0827a;
  font-weight: bold;
}