// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-info {
  width: 50%;
  float: right;
  margin-top: 2.27em;

  p {
    margin-left: 2em;
    margin-bottom: 1em;
    padding: 0.5em 0 0.5em 0.5em;
    background-color: #cfdfff;
    border-radius: 5px;
  }
}

// in students#show
.schedule-accordion {
  margin-bottom: 3em;
  width: 50%;
  word-wrap: break-word;

  // all accordian rows
  .accordion-field {
    background: #eee;

    // the labels
    div div span {
      font-weight: bold;
    }

    // the schedule dates label ie MWF
    .schedule-effective-days {
      font-size: 20px;
      margin-bottom: 0.5em;
    }

    .schedule-times{
      float:left
    }

    .schedule-dates {
      float: right;
      margin-right: 2em;
    }

    .schedule-links {
      clear: both;
      float: right;
      margin-top: 1em;
    }
  }
}

// student and admin index table

$table-column-width: 160px;

#user-index-table {
  margin-top: 1.5em;

  #index-header {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;

    >span {
      display: inline-block;
      width: $table-column-width;
    }
  }

  .index-row {
    padding-left: 5px;
    width: 68%;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 3px dotted #cfdfff;

    &:last-of-type {
      border: none;
    }

    >span {
      display: inline-block;
      width: $table-column-width;
      font-size: 1rem;
    }
  }

  .button {
    font-size: 14px;
  }
}

p.notice {
  width: 400px;
  color: #696969;
}

// on _schedule
.schedule-accordion {
  span {
    font-weight: bold;

    &.regular { color: #837bdb; }
    &.temporary { color: #14B406; }
    &.absent { color: #f0827a; }
  }

  // override on hover to keep consistent with jqui
  .ui-accordion-header:hover {
    span.regular, span.temporary, span.absent { color: #fff; }
    &.ui-state-active {
      span.regular, span.temporary, span.absent { color: #000; }
    }
  }
}