// for stiewide sass variables

//colors
$primary-blue:   #cfdfff;
$secondary-blue: #3876a5;
$active:         #fff9d8;

$schedule-regular:   #837bdb;
$schedule-temporary: #14B406;
$schedule-absent:    #f0827a;