// for sitewide sass variables and effects

//colors
$primary-blue:     #cfdfff;
$secondary-blue:   #3876a5;
$active:           #fff9d8;
$active-highlight: rgba( darken( $active, 40% ), .50 );

$schedule-regular:   #837bdb;
$schedule-temporary: #14B406;
$schedule-absent:    #f0827a;

$md-red:             rgb(244, 67, 54);

// effects
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin top-bottom-highlight( $color ) {
  $tbh: inset  0  8px 8px -7px $color,
        inset  0 -8px 8px -7px $color;
  -moz-box-shadow:    $tbh;
  -webkit-box-shadow: $tbh;
  box-shadow:         $tbh;
}

// a down pointing arrow
@mixin top-marker( $color: $md-red, $size: 7px ) {
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-top: $size solid $color;
}

.mark {
  @include top-marker;
}

// a left/right fade gradient for hr
@mixin fade-hr( $c1: $md-red, $c2: fade-out($md-red, 0.7)) {
    border: 0;
    height: 1px;
    //background: #333;
    background-image: -webkit-linear-gradient(left, $c2, $c1, $c2); 
    background-image:    -moz-linear-gradient(left, $c2, $c1, $c2); 
    background-image:     -ms-linear-gradient(left, $c2, $c1, $c2); 
    background-image:      -o-linear-gradient(left, $c2, $c1, $c2); 
}


// fixes

// reset simple form defaults to keep from garbling
//  the ui buttonset elements
.simple_form %buttonset-fix {

  div {
    margin-left: 0;
    display: inline-block;
  }

  label.ui-widget {
    font-weight: normal;
    margin-right: 0;
    width: auto;
    text-align: center;
  }
}